:root {
	--blue-gray: #15202b;
	--green: #00ba7c;
	--gray: #38444d;
	--white: #f7f9f9;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
	font-size: 62.5%;
}

body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}