:root {
	--blue: #1D9BF0;
	--blue-gray: #15202b;
	--dark-gray: #38444d;
	--green: #00ba7c;
	--gray: #8b98a5;
	--pink: #F91880;
	--white: #f7f9f9;
	--w-home: 600px;
	--m-sidebar: 160px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
	font-size: 62.5%;
}

body {
	display: flex;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	color: var(--white);
	background-color: var(--blue-gray);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.emoji {
	height: 1.6rem;
	width: 1.6rem;
}