body {
	display: flex;
	font-size: 1.6rem;
	background-color: var(--blue-gray);
	color: var(--white);
}

i {
	border: 1px dotted gray;
}

/* Sidebar */
.sidebar {
	display: flex;
	flex-direction: column;
	width: 80px;
	max-height: 100%;
	padding: 10px;
}

.sidebar-icons {
	margin: 10px;
}

.sidebar-icons > li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	
	border: 1px solid purple;
}

.sidebar-icons > li > i {
	/* width: 50px; */
	/* height: 50px; */
	height: fit-content;
}

/* Home */
.home {
	max-width: 600px;

	border: 1px solid red;
}

h1 {
	font-size: 2.0rem;
}

/* New tuit */
.new-tuit {
	display: flex;
	border: 1px solid blue;
}


/* Tuit */
.tuit {
	display: flex;
	border: 1px solid skyblue;
}

.tuit-pfp {

}

.tuit-autor-data {
	display: flex;
	height: auto;
	border: 1px solid green;
}

.tuit-text {

}

.stats {
	display: flex;
}