body {
	background-color: var(--blue-gray);
	color: var(--white);
	font-size: 1.6rem;

	display: flex;
	flex-direction: row;
}

#sidebar {
	display: flex;
	width: 80px;
	max-height: 100%;
	flex-direction: column;
	padding: 10px;
	margin: 10px;
}

#home {
	max-width: 600px;
}